!!!
%html{ lang: :en }
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}/
    %meta{ name: "description", content: "Nick Pezza. Hey there! I'm a freelance web developer and Ruby on Rails consultant building cool things with Ruby and JavaScript. Spoonflower • N2 Publishing" }

    %title Nick Pezza - Freelance Web Developer and Ruby on Rails Consultant
    = favicon_tag 'logo.png'
    = stylesheet_link_tag :normalize, :site
    = stylesheet_link_tag "https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity: "sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin: :anonymous
    = javascript_include_tag :main
    %meta{ name: "theme-color", content: "#fff" }

    %script{ src: "https://www.google.com/recaptcha/api.js?render=#{site_key}" }
    / Global site tag (gtag.js) - Google Analytics
    %script{ async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-42017922-2" }
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-42017922-2');

  %body{class: page_classes}
    = yield
