#contact
  .contact-container
    %h1.upcase
      %span.slash #
      contact
    = form_for Email.new, 'https://portfoliomailserver.herokuapp.com/emails', method: "POST" do |f|
      = f.text_field :name, placeholder: "Your Name", required: true
      .input-border
      = f.email_field :email, placeholder: "Your Email", required: true
      .input-border
      %textarea.expand{ id: "email_msg", placeholder: "Your Message", name: "email[message]", required: true, data: { min: { rows: 2 } } }
      .input-border
      %button{ type: :submit, class: "submit"}
        %i.far.fa-paper-plane
    .social
      = link_to "https://github.com/npezza93", class: "social-container" do
        %i.fab.fa-github
      = link_to "https://www.linkedin.com/in/nick-pezza-02166668", class: "social-container" do
        %i.fab.fa-linkedin-in
