#contact
  .contact-container
    %h1.upcase
      %span.slash #
      contact
    = form_for Email.new, email_url, method: "POST" do |f|
      = f.text_field :name, placeholder: "Your Name", required: true
      .input-border
      = f.email_field :email, placeholder: "Your Email", required: true
      .input-border
      %textarea.expand{ id: "email_msg", placeholder: "Your Message", name: "email[message]", required: true, data: { min: { rows: 2 } } }
      .input-border
      %p.recaptcha-disclosure
        This site is protected by hCaptcha and its
        = link_to "Privacy Policy", "https://hcaptcha.com/privacy"
        and
        = link_to "Terms of Service", "https://hcaptcha.com/terms"
        apply.

      %button.h-captcha{ type: :submit, class: "submit", "aria-label" => "Contact", data: { sitekey: site_key, callback: "onSubmit" } }
        %i.far.fa-paper-plane
    .social
      = link_to "https://github.com/npezza93", class: "social-container" do
        %i.fab.fa-github
      = link_to "https://www.linkedin.com/in/nick-pezza-02166668", class: "social-container" do
        %i.fab.fa-linkedin-in

:javascript
  var onSubmit = function(token) {
    document.querySelector("form").submit();
    document.querySelector('#notice').classList.add('active');
  };
