#projects
  .skew.active
    %h1.upcase
      %span.slash #
      projects
    .container
      = partial "projects/n2"
      = partial "projects/calu_advisor"
      = partial "projects/archipelago"
      = partial "projects/eighty"
      = partial "projects/open_source"
