#projects
  .skew
    .header-container
      %h1.upcase.section-header
        %span.slash #
        projects
    .mdc-tab-scroller
      .mdc-tab-scroller__scroll-area
        .mdc-tab-scroller__scroll-content.container
          - projects.each do |project, _title|
            .slide{ id: project, data: { for: project } }
              .content
                .img{ style: "background-image: url('images/#{project}.svg');" }
          = partial "projects/resume"

- projects.each do |project, title|
  .project.content.open-transition.invisible{ data: { project: project } }
    = partial "images/chevron_left"
    .invisible.img{ style: "background-image: url('images/#{project}.svg');" }
    %h1.project-name.invisible= title
    %hr.invisible
    .text.invisible= partial "projects/#{project}"
