#projects
  .skew
    %h1.upcase
      %span.slash #
      projects
    .container
      = partial "projects/n2"
      = partial "projects/archipelago"
      = partial "projects/open_source"
      = partial "projects/calu_advisor"
      = partial "projects/eighty"

    = link_to "resume.pdf", id: "resume-link" do
      %i.mdi.mdi-download
      Résumé
